body 
  +regular 

h2 
  +bold
  color: $gold
  font-size: 30px

.button
   width: 160px
   height: 50px
   border-radius: 25px
   text-transform: uppercase
   cursor: pointer

.button, .input
  outline: none
