body 
  +regular 

h2 
  +bold
  color: $gold
  font-size: 30px
  text-align: center
  margin: 73px 0
  line-height: 1.27

.button
   width: 160px
   height: 50px
   border-radius: 25px
   text-transform: uppercase
   cursor: pointer

.button, .input
  outline: none

+phone-lg
  h2 
    font-size: 24px
