// slick slider
.slick-slide 
    margin: 60px  15px 0 15px !important
.slick-list 
    margin: 60px  -15px 0 -15px !important

.reviews-items, .benefits-items
    .slick-prev
        left: -70px
        &:before
            content: ""!important
            width: 60px
            height: 42px
            display: inline-block
    .slick-next
        &:before 
            content: ""!important
            width: 60px
            height: 42px
            display: inline-block

    &.slick-dotted.slick-slider
        margin-bottom: 0
    & .slick-dots 
        li 
            padding-bottom: 15px
            margin-right: 10px
            width: 6px
            height: 6px
            &.slick-active button:before 
                content: "•"
                color: $gold
                opacity: 1
                font-family: 'slick'
                font-size: 8px
            button:before 
                content: "•"
                color: #fff
                opacity: 0.4

.reviews-items
    & .slick-dots 
        bottom: 90px
    .slick-prev
        &:before
            background: url('../icons/arrows_slider/left-arrow.svg') no-repeat
    .slick-next
        right: -50px
        &:before 
            background: url('../icons/arrows_slider/right-arrow.svg') no-repeat

.benefits-items
    & .slick-dots 
        bottom: -60px
    .slick-prev, .slick-next
        top: 67%
    .slick-prev
        &:hover
            opacity: 0.75
        &:before
            background: url('../icons/arrows_slider/arrow_benefits.svg') no-repeat
            opacity: 1
    .slick-next
        right: -30px
        &:hover
            opacity: 0.75
        &:before 
            opacity: 1
            background: url('../icons/arrows_slider/arrow_benefits.svg') no-repeat
            transform: rotate(180deg)
           





        
    
  