// mixins
=desktop 
  @media screen and (max-width: 1160px) 
    @content

=tablet 
  @media screen and (max-width: 991px) 
    @content

=phone-lg 
  @media screen and (max-width: 768px) 
    @content

=phone-m 
  @media screen and (max-width: 576px) 
    @content

=phone-sm 
  @media screen and (max-width: 400px) 
    @content

=pseudo($display: block, $pos: absolute, $content: '')
    content: $content
    display: $display
    position: $pos

=link
  text-decoration: none
  color: #ffffff

// import blocks 
@import 'fonts'

@import 'colors'

@import 'grid'

@import 'interface'

@import 'normalize'

@import 'blocks/header'

@import 'blocks/social'

@import 'blocks/work-sequence'

@import 'blocks/contacts'

@import 'blocks/footer'

@import 'google-map'

