.social-footer,
.ico-social-header 
  a svg 
    width: 20px
    &:hover
      fill: $gold-dark

      
.social-footer
  a
    padding-right: 15px
    text-decoration: none
    margin-bottom: 0
  a:last-child
    padding-right: 0
